################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DMS.Auth/.vs/DMS.Auth
/DMS.Auth/DMS.Auth/obj
/DMS.Auth/DMS.Auth/bin/Debug/net8.0
/DMS.Auth/obj
/DMS.Auth/bin/Debug/net8.0
/BuildingBlocks/BuildingBlocks.ExceptionHandling/bin/Debug/net8.0
/BuildingBlocks/BuildingBlocks.ExceptionHandling/obj
/DMS.Auth/auth.db-shm
/DMS.Auth/auth.db-wal
/DMS.Auth/auth.db-shm
/BuildingBlocks.Common/obj
/Common/obj
/BuildingBlock.Common/obj
