################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DMS.Auth/.vs/DMS.Auth
/DMS.Auth/DMS.Auth/obj
