name: CI - Build & Test

on:
  pull_request:
    branches:
      - develop

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore DMS.Auth.sln

      - name: Build
        run: dotnet build DMS.Auth.sln --no-restore

      - name: Test
        run: dotnet test DMS.Auth.sln --no-build --verbosity normal